.database-error {
  display: flex;
  background-image: url("../../assets/images/notFound.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center center;
  justify-content: center;
  //   text-align: center;
  align-items: center;
  width: auto;
  height: 40vh;
  .error-message {
    display: flex;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    // width: auto;
    .connection {
      font-size: 4rem;
      font-weight: 900;
      line-height: inherit;
    }
    .img-crying {
      width: auto;
      height: 4rem;
    }
  }
}
