.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }
}

.signup-status {
  margin-top: 2rem;
  background-color: rgb(111, 177, 12);
  color: honeydew;
  padding-left: 3rem;
}
