.store-link {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: black;
  padding: 0.4rem 0.9rem;
  border: 0.3rem solid white;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
  font-style: oblique;
  font-size: 2rem;
  &:hover {
    color: greenyellow;
  }
}
