.container {
  height: auto;
  max-width: 100%;
  overflow-y: hidden;
  display: flex;
  text-align: center;
  color: rgb(179, 27, 27);
  flex-direction: column;
  justify-content: center;
  background-image: url("../../assets/images/notFound.jpg");
  background-position: center;
  background-size: cover;
  .not-found {
    display: flex;
    justify-content: center;
    .four {
      font-size: 20vw;
      font-weight: 900;
      line-height: inherit;
    }

    // set only width property for "gif". height should be auto
    .img-container {
      width: 20vw;
      height: auto;
    }
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    word-spacing: 2rem;
    color: #ff0000;
    text-shadow: 0.2rem 0.2rem rgb(228, 228, 0);
  }
  .link {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 0.3rem 0.3rem black;
    letter-spacing: 0.4rem;
    font-size: 7vw;
  }
}
